.button-date {
    border-radius: 5px;
    background-color: rgb(92, 92, 235);
    max-height: 60px;
    max-width: 230px;
    color: white;
    border-color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 100px);
 }
 