.stepper {
    width: 100%;
    margin: 0 0 0 0;

    .MuiPaper-elevation0{
        background-color: white;
    }

    .MuiTypography-displayBlock {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .stepper_button {
        margin-right: 1%;
    }
 
    .instructions {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}